:root{
    --cout: 1;
}
.Connector{
    position: absolute;
}
.cin{
    /* background-color: rgba(0, 0, 255, 0.5); */
}
.cout{
    /* background-color: rgba(255, 0, 174, 0.5); */
}
.cin:hover{
    /* background-color: blue; */
    scale: calc(1.1 - var(--cout) * 0.1);
}
.cout:hover{
    /* background-color: rgb(255, 0, 174); */
    scale: calc(1.1 + var(--cout) * 0.1);
}
.Line{
    position: absolute;
    pointer-events: none;
    /* background-color: rgba(138, 43, 226, 0.5); */
}
.Line>svg>path{
    pointer-events: stroke;
    stroke-width: 5;
}
.Line>svg>path:hover{
    stroke-width: 7;
}