.GatePreview{
    width: 40%;
    /* height: 10%; */
    
    margin-left: 7.5%;
    margin-right: -4%;
    margin-bottom: 7px;
    
    /* padding-bottom: 30px; */
    text-align: center;

    border-style: solid;
    border-width: 2px;
    border-radius: 10% 10%;

    display: grid;
    place-content: center;

    overflow: hidden;
    
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    -webkit-transition: -webkit-transform 0.2s;
	transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
	transition: transform 0.2s, -webkit-transform 0.2s; /* Animation */
}

.GatePreview:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 3px rgba(0, 255, 204, 0.426);
}
.selected{
    border-color: cyan;
    background-image: linear-gradient(90deg, rgb(0, 255, 225), rgb(0, 255, 204));
    box-shadow: 0px 0px 10px 1px rgba(0, 255, 204, 0.426);
    /* box-shadow: 10px 5px 5px rgba(0, 255, 204, 0.426); */
}
.GatePreview img{
    scale: 0.7;
}

.preview{
    width: calc(min(20%,300px));
    height: calc(100vh - 2vh - 50px);

    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;

    background-color: rgb(241, 255, 253);

    border-top-left-radius: 9% 3%;
    border-top-right-radius: 9% 3%;
    border-bottom-left-radius: 9% 3%;
    border-bottom-right-radius: 9% 3%;
    border-style: solid;
    border-width: 5px;

    z-index: 100;
    position: fixed;
    bottom:0px;
}
.GatePreview_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.preview > h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;

    position: relative;
    top: 0%;
    left: 24%;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    
    /* background-color: rgb(156, 64, 64); */

    /* margin-top: 5%;
    margin-left: calc(25%); */

    /* padding-left: 3px;
    padding-right: 3px; */

    /* width: fit-content; */

    /* border-style: solid;
    border-width: 3px;
    border-radius: 5px; */
}
.stick_left{
    left: 0;
}
.stick_right{
    right: 0;
}