.top_nav{
    position: fixed;
    display: flex;
    align-items: center;
    height: 56px; 
    z-index: 2;
}

.personcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 10px;
    border: 2px solid #0d6ff9;
    background-color: rgba(255, 255, 255, 0.4);
    width: 50px;
    height: 50px;
    transform: scale(1.4);
    
}


.personcontainer::before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.personcontainer::after {
    opacity: 1;
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    left: 0;
    top: 0;
    border-radius: 10px;
}

#personimg{
    position: relative;
    top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    transform: scale(1.7);
    
}


/* #SimButton:active {
    color: #000
} */

/* #SimButton:active::after {
    background: transparent;
} */

/* #SimButton:hover::before {
    opacity: 1;
} */
