.top_nav{
    position: fixed;
    /* top: 0;
    left: 0; */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width:100vw;
    height: 56px; /* TEMP: put to 0px later pls :)*/

    /* border-top: 0px;
    border-right: 0px;
    border-left: 0px; */
    /* border-bottom: 5px; */
    /* border-color: rgb(131, 228, 196); */

    z-index: 101;
    /* background: linear-gradient(90deg, rgb(255, 0, 0), rgb(172, 6, 6)); */
}

.personcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 10px;
    border: 2px solid #0d6ff9;
    background-color: rgba(255, 255, 255, 0.4);
    width: 50px;
    height: 50px;
    transform: scale(1.4);
    /* padding: 20px; */
    /* width: 200px; */
    /* height: 150px; */
}


.personcontainer::before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.personcontainer::after {
    opacity: 1;
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    left: 0;
    top: 0;
    border-radius: 10px;
}

#personimg{
    position: relative;
    top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    transform: scale(1.7);
}

#SimButton {
    width: 300px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #1F1F1F;
    cursor: pointer;
    position: relative;
    z-index: 5;
    border-radius: 10px;
    /* margin-right: 40px; */
    scale: 1;
    font-size: x-large;
    font-family: monospace;
    letter-spacing: 3px;
    right: 5px;
    /* top: 65px; */
}

#SimButton::before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
#SimButton::after {
    content: '';
    opacity: 1;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1F1F1F;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* simButt.innerText = simButt.innerText === "Simulate"?"Simulating":"Simulate"; TODO COPY TO SimulateButton.js in simulate()*/ 

/* #SimButton:active {
    color: #000
} */

/* #SimButton:active::after {
    background: transparent;
} */

/* #SimButton:hover::before {
    opacity: 1;
} */
